.support, .contactHolder, .secondHolder, .firstHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.getInTouch, .leftContent, .contactHolder-inner, .secondHolder-inner, .firstHolder-inner {
  display: flex;
  justify-content: space-around;
}

@font-face {
  font-family: NeutriefStudio-SemiBold;
  src: url("Materials/Font/NeutrifStudio TTF official STEETS/NeutrifStudio-SemiBold.ttf");
}
@font-face {
  font-family: NeutriefStudio-Regular;
  src: url("Materials/Font/NeutrifStudio TTF official STEETS/NeutrifStudio-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
  height: 200vh;
}

nav {
  background-color: white;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  transition: padding 0.6s linear;
  -webkit-transition: padding 0.6s linear;
  -moz-transition: padding 0.6s linear;
  -o-transition: padding 0.6s linear;
}
nav::after {
  content: "";
  display: table;
  clear: both;
}

.navbar-header {
  width: 10%;
  float: left;
  padding-left: 150px;
}

.navbar-brand img {
  width: 100%;
}

.navbar-body {
  float: right;
  width: 78%;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
}
.navbar-list i {
  position: relative;
  top: 2px;
}
.navbar-list li {
  display: inline-block;
  margin-right: 28px;
  font-family: NeutriefStudio-SemiBold;
  font-size: 18px;
  cursor: pointer;
}
.navbar-list li:hover {
  color: #E58B80;
}
.navbar-list li:nth-child(1) {
  padding-left: 35px;
}
.navbar-list li a {
  text-decoration: none;
  color: black;
}
.navbar-list li a:focus, .navbar-list li a:hover {
  color: #E58B80;
}

#btn {
  background-color: black;
  color: white;
  padding: 12px 27px;
  border-radius: 120px;
  font-size: 15px;
}
#btn:hover {
  background-color: #E58B80;
  color: white;
}

.relative-ico {
  position: relative;
  top: 5px;
}
.relative-ico:hover .magnifier-ico {
  fill: #E58BB0;
}

.firstHolder {
  padding: 16px 0;
  background-color: #E58B80;
  width: 100%;
  top: 99px;
}

.firstHolder-inner {
  width: 86%;
}

.lista {
  float: left;
  width: 27%;
  color: white;
  list-style-type: none;
  line-height: 45px;
}
.lista li {
  font-family: NeutriefStudio-Regular;
}

.arrow-ico {
  width: 10px;
  fill: #ffffff;
}

.pinkColor {
  color: #E58B80 !important;
}

body.fixedNav nav {
  position: fixed;
  top: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  transition: padding 0.6s linear;
  -webkit-transition: padding 0.6s linear;
  -moz-transition: padding 0.6s linear;
  -o-transition: padding 0.6s linear;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}
body.fixedNav .firstHolder, body.fixedNav .secondHolder, body.fixedNav .contactHolder {
  position: fixed;
  top: 65.4219px;
  transition: top 0.6s linear;
  -webkit-transition: top 0.6s linear;
  -moz-transition: top 0.6s linear;
  -o-transition: top 0.6s linear;
}

.st0 {
  fill: #010202;
}

.secondHolder {
  width: 100%;
  top: 99px;
  padding: 40px 0;
  background-color: #E58B80;
}

.secondHolder-inner {
  width: 80%;
  height: 55%;
}

.secondHolder-content {
  width: 25%;
  float: left;
  text-align: center;
  border: 1px solid white;
  padding: 20px;
  color: white;
}
.secondHolder-content:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  cursor: pointer;
  background-color: white;
  color: black;
}
.secondHolder-content:hover .secondHolder-img img {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.secondHolder-content h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: NeutriefStudio-SemiBold;
}
.secondHolder-content p {
  font-size: 14px;
  font-family: NeutriefStudio-Regular;
}

.secondHolder-img img {
  width: 80px;
}

.contactHolder {
  width: 100%;
  top: 99px;
  padding: 30px 0;
  height: 70vh;
  background-color: white;
  font-family: NeutriefStudio-Regular;
}

.contactHolder-inner {
  width: 70%;
  height: 100%;
}

.constactHolder-content {
  width: 49%;
  float: left;
}

.leftContent {
  height: 100%;
  flex-direction: column;
}

.support {
  height: 25%;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: black;
  margin-bottom: 10px;
}

.getInTouch {
  height: 65%;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
}

.support-icon {
  width: 20%;
  float: left;
  color: #E58B80;
}

.support-text {
  width: 70%;
  float: left;
  color: white;
}
.support-text h4 {
  margin-top: -10px;
}
.support-text a {
  background-color: #E58B80;
  padding: 13px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 11px;
}

.form a {
  background-color: #E58B80;
  padding: 13px 25px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 11px;
}

.support-text a:hover, .form a:hover {
  color: black;
}

.getInTouch-inner {
  height: 30%;
  display: flex;
  justify-content: center;
}

.getInTouch-icon {
  width: 20%;
  float: left;
  padding-top: 22px;
  padding-left: 10px;
  color: #E58B80;
}

.getInTouch-text {
  width: 70%;
  float: left;
}
.getInTouch-text h3 {
  font-size: 15px;
}
.getInTouch-text p {
  font-size: 13px;
  color: grey;
}

.formHolder {
  background-color: white;
  height: 100%;
  border-radius: 10px;
}

.form {
  height: 100%;
  padding: 10px 30px;
}

.form-group {
  position: relative;
}
.form-group label {
  position: absolute;
  left: 0;
  top: 27px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out;
  -webkit-transition: transform 150ms ease-out;
  -moz-transition: transform 150ms ease-out;
  -o-transition: transform 150ms ease-out;
  transition: font-size 150ms ease-out;
  -webkit-transition: font-size 150ms ease-out;
  -moz-transition: font-size 150ms ease-out;
  -o-transition: font-size 150ms ease-out;
}

.focused label {
  transform: translateY(-125%);
  -webkit-transform: translateY(-125%);
  -moz-transform: translateY(-125%);
  -o-transform: translateY(-125%);
  font-size: 0.75em;
}

.form-group input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  -webkit-box-shadow: 0 1px 0 0 #e5e5e5;
  -moz-box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  -webkit-transition: box-shadow 150ms ease-out;
  -moz-transition: box-shadow 150ms ease-out;
  -o-transition: box-shadow 150ms ease-out;
}
.form-group input:focus {
  box-shadow: 0 2px 0 0 #E58B80;
  -webkit-box-shadow: 0 2px 0 0 #E58B80;
  -moz-box-shadow: 0 2px 0 0 #E58B80;
}

textarea {
  color: #999999;
  border: 1px solid #e5e5e5;
  outline: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  -webkit-box-shadow: 0 1px 0 0 #e5e5e5;
  -moz-box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
  -webkit-transition: box-shadow 150ms ease-out;
  -moz-transition: box-shadow 150ms ease-out;
  -o-transition: box-shadow 150ms ease-out;
  margin-top: 5px;
}
textarea:focus {
  border: 2px solid #E58B80;
}

.form-group-textarea {
  margin-top: 22px;
  margin-bottom: 20px;
}
.form-group-textarea label {
  color: #999;
}

.messageText h3 {
  margin-top: 3px;
  padding-left: 30px;
  margin-bottom: -9px;
  color: #162a33;
  font-size: 27px;
}

.filled {
  box-shadow: 0 2px 0 0 lightgreen !important;
  -webkit-box-shadow: 0 2px 0 0 lightgreen !important;
  -moz-box-shadow: 0 2px 0 0 lightgreen !important;
}

.filled-textarea {
  border: 2px solid lightgreen;
}

/*HAMBURGER MENU*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 56px;
  left: 0;
  background-color: white;
  overflow-y: hidden;
  z-index: 100000;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 1111111;
}

.overlay-menu {
  line-height: 2.5;
  list-style-type: none;
  padding-left: 0;
}
.overlay-menu li {
  margin-bottom: 10px;
}

.overlay a, .overlay li {
  text-decoration: none;
  font-size: 22px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  color: black;
  font-family: NeutriefStudio-Regular;
}
.overlay .closebtn {
  position: absolute;
  top: -10px;
  right: 20px;
  font-size: 60px;
}

.navBrand-media {
  padding: 8px;
  position: absolute;
  top: 18px;
  left: 24px;
  font-size: 22px;
  text-transform: capitalize;
  background-color: white;
  color: black !important;
}

.media-overlay-button {
  padding: 15px 145px !important;
}

.media-overlay-button2 {
  padding: 15px 118px !important;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  display: none;
  margin-left: 242px;
  margin-top: -40px;
  color: black;
}

#myNav .open {
  display: none;
  height: 0%;
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
}

@media screen and (max-width: 1024px) {
  .navbar-header {
    width: 11%;
    padding-left: 21px;
    padding-top: 2px;
  }

  .navbar-body {
    width: 100%;
    float: none;
  }

  .navbar-list li {
    margin-right: 12px;
  }
  .navbar-list li:nth-child(1) {
    padding-left: 28px;
    margin-right: 10px;
  }

  .firstHolder-inner {
    width: 100%;
  }
  .firstHolder-inner .lista {
    width: 33%;
  }

  .form textarea {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .navbar-list {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: 680px;
  }

  .navbar-brand svg {
    width: 130px;
  }

  .navbar-header {
    padding-left: 30px;
  }

  nav {
    padding-top: 25px;
    padding-bottom: 21px;
    z-index: 1000;
  }

  .secondHolder-inner {
    width: 90%;
  }

  .firstHolder-inner {
    flex-direction: column;
    width: 86%;
  }
  .firstHolder-inner .lista {
    width: 100%;
    padding-left: 0;
  }

  body.fixedNav .firstHolder, body.fixedNav .secondHolder, body.fixedNav .contactHolder {
    position: relative;
    top: 0;
  }

  .firstHolder, .secondHolder, .contactHolder {
    top: 0;
  }

  .form textarea {
    width: 100%;
  }

  .formHolder .messageText h3 {
    font-size: 24px;
  }

  .contactHolder-inner {
    width: 90%;
  }

  .constactHolder-content {
    width: 100%;
  }

  .open {
    display: block;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
  }

  .mobile-ico {
    position: relative;
    top: 2px;
  }
}
@media screen and (max-width: 425px) {
  .navbar-list {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: 338px;
  }

  .navbar-brand svg {
    width: 130px;
  }

  .navbar-header {
    padding-left: 30px;
  }

  nav {
    padding-top: 25px;
    padding-bottom: 21px;
    z-index: 1000;
  }

  body.fixedNav .firstHolder, body.fixedNav .secondHolder, body.fixedNav .contactHolder {
    position: relative;
    top: 0;
  }

  .firstHolder, .secondHolder, .contactHolder {
    top: 0;
  }

  .secondHolder-inner {
    flex-direction: column;
    width: 80%;
  }

  .secondHolder-content {
    width: 100%;
    margin-bottom: 40px;
    padding: 10px 0;
  }

  .firstHolder-inner {
    width: 80%;
  }
  .firstHolder-inner .lista {
    width: 100%;
    padding-left: 0;
  }

  .contactHolder {
    height: 150vh;
  }

  .contactHolder-inner {
    width: 85%;
    flex-direction: column;
  }

  .constactHolder-content {
    width: 100%;
  }

  .leftContent {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 35px;
  }

  .open {
    display: block;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
  }

  .mobile-ico {
    position: relative;
    top: 2px;
  }
}
@media screen and (max-width: 375px) {
  .navbar-list {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: 290px;
  }

  .navbar-brand svg {
    width: 130px;
  }

  .navbar-header {
    padding-left: 30px;
  }

  nav {
    padding-top: 25px;
    padding-bottom: 21px;
  }

  .open {
    display: block;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
  }

  .mobile-ico {
    position: relative;
    top: 2px;
  }
}
@media screen and (max-width: 320px) {
  .navbar-list {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: 242px;
  }

  .navbar-brand svg {
    width: 130px;
  }

  .navbar-header {
    padding-left: 30px;
  }

  nav {
    padding-top: 25px;
    padding-bottom: 21px;
  }

  .firstHolder-inner .lista li {
    font-size: 13px;
  }

  .open {
    display: block;
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
  }

  .mobile-ico {
    position: relative;
    top: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
